<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="evenements">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Evenements</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="covoiturage">
      <ion-icon name="car"></ion-icon>
      <ion-label>Covoiturage</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="boncoin">
      <ion-icon name="basket"></ion-icon>
      <ion-label>Bon coin</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Mon compte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>