.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.ion-color-favorite {
  --ion-color-base: rgb(62, 187, 183);
  --ion-color-base-rgb: 62, 187, 183;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #d7d8da;
  --ion-color-tint: #f5f6f9;
}
