<ion-header>
  <ion-toolbar color="favorite">
    <ion-title>
      Bon coin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab>
    <ion-fab-button color="favorite" class="addBtnForm">
      <p class="addBtnText">+</p>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="welcome-card">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="/assets/boncoin/chaise.JPG" style= "height: 155px"></ion-img>
        </ion-col>
        <ion-col>
            <ion-card-header style="padding-right: 0px; padding-left: 1px;">
            <ion-card-title><b style="padding-right: 0px;">Chaise</b><label style="float:right">5€</label></ion-card-title>
          </ion-card-header>
          <ion-card-content style="padding-right: 0px; padding-left: 1px;">
            <p>Chaise de bonne qualité jamais utilisée !</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-img src="/assets/boncoin/frigidaire.jpg" style=" height: 155px"></ion-img>
        </ion-col>
        <ion-col>
          <ion-card-header style="padding-right: 0px; padding-left: 1px;">
            <ion-card-title><b>Frigidaire</b><label style="float:right">45€</label></ion-card-title>
          </ion-card-header>
          <ion-card-content style="padding-right: 0px; padding-left: 1px;">
            <p>Bon état de marche ! Non négociable</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="welcome-card">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img src="/assets/boncoin/ps4.jpg" style=" height: 155px"></ion-img>
          </ion-col>
          <ion-col>
            <ion-card-header style="padding-right: 0px; padding-left: 1px;">
              <ion-card-title><b>PS4</b><label style="float:right">400€</label></ion-card-title>
            </ion-card-header>
            <ion-card-content style="padding-right: 0px; padding-left: 1px;">
              <p>Très bon état de marche ! Vendu avec The Witcher 3 :) Non négociable</p>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

</ion-content>