<ion-header>
  <ion-toolbar color="favorite">
    <ion-title>
      Evenements
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/evenement/MeuhFolle.JPG"></ion-img>
    <ion-card-header>
      <ion-card-title>Meuh Folle sa mère</ion-card-title>
      <ion-card-subtitle>5 et 6 Avril 2019 - Alès</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>La meuf Folle c'est Un festival eco-responsable</p>
      <p>Alborosie, Demi Portion, Collectif 13, Hippocampe Fou, Rakoon, Vandal, Vanupie, Wailing trees, The Natural Seed et Bhale Bacce Crew.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-img src="/assets/evenement/poilplume.JPG"></ion-img>
    <ion-card-header>
      <ion-card-title>A poil ou à plume</ion-card-title>
      <ion-card-subtitle>30 Avril 2019 - SDB</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Soirée BDE X EMAMIX</p>
      <p>3€ les 5 consos</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>

</ion-content>