.ion-color-favorite {
    --ion-color-base: rgb(62, 187, 183);
    --ion-color-base-rgb: 62, 187, 183;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #d7d8da;
    --ion-color-tint: #f5f6f9;
}

.label-right{
    order: 2;
    opacity: 0.5;
    font-size: 15px
}

// disabled voir scss général